/dist
/logs
/npm-debug.log
/node_modules
.DS_Store
.idea/
.env
.vscode
node_modules
dist
package-lock.json
.nyc_output
/**/package-lock.json
/**/node_modules
/**/dist
package-lock.json
lerna-debug.log
*.swp
